asgiref==3.3.4
backtrader==1.9.76.123
backtrader-plotting==1.1.0
beautifulsoup4==4.9.3
bokeh==2.0.2
certifi==2020.6.20
chardet==4.0.0
click==7.1.2
cycler==0.10.0
defusedxml==0.7.1
diff-match-patch==20200713
Django==3.2.4
django-import-export==2.5.0
et-xmlfile==1.1.0
gunicorn==20.1.0


