{% extends 'ML/base.html' %}
{% block title %} Hello, world!  {% endblock %}
{% block body %}
<div class="col-lg-6 ">
                <div class="mb-5 position-relative">
                    <h2 class="section-title text-center mb-5" style="font-size:40px">For any queries, contact:</h2>
                </div>
                <div class="row ">
                 <div class="col-md-4 mb-5 mb-lg-0 ">
                    <div class="blog_entry" style="text-align: center;">
                        <img src="https://www.ecell.in/Illuminate2020/images/ja.png" alt="Image" class="img-fluid ">
                 <div class="p-4 text-center" style="border:none;font-size: 1em;
                                              line-height: 0.8em;">
                            <b><p style="color:#000000;">JAY PATIL</p>
                            <p style="color:#ffffff">EVENTS HEAD</p>
                            <p><a href="mailto:jayp@ecell.in" style="color:#ffffff">jayp@ecell.in</a>
                            </p>
			     </b><p><b><a href="tel:+916264532272" style="color:#ffffff">6264532272</a></b>
</p>
                        </div>

                    </div>
                </div>




        <div class="man-info-wrap">
            <div class="col-12 img-wrap text-center">
                <img src="https://public-ecell.s3.ap-south-1.amazonaws.com/website/caricatures/Prateek+J.png" alt="manager-img" height="200" width="200" class="img-fluid ">
            </div>
            <div class="col-12 name-wrap"><div class="man-name text-center">Prateek Jajodia
            </div>
            </div>
            <div class="col-12 ocf-wrap">
                <div class="man-portf text-center">Overall Coordinator</div>
            </div><div class="col-12 text-center man-social-wrap">
            <a href="https://www.facebook.com/profile.php?id=100008789177574" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/prateek-jajodia/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            <a href="https://api.whatsapp.com/send?phone=917400124944" target="_blank"><i class="fa fa-phone-square" aria-hidden="true"></i></a>
            <a href="mailto:prateek@ecell.in" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a></div></div></div></div>
    <div class="col-4"><div class="row justify-content-center"><div class="man-info-wrap">
        <div class="col-12 img-wrap text-center">
            <img src="https://public-ecell.s3.ap-south-1.amazonaws.com/website/caricatures/Viren.png" alt="manager-img"  class="img-fluid " height="200" width="200"></div>
        <div class="col-12 name-wrap"><div class="man-name text-center">Viren Inaniyan</div></div>
        <div class="col-12 ocf-wrap"><div class="man-portf text-center">Overall Coordinator</div></div>
        <div class="col-12 text-center man-social-wrap"><a href="https://www.facebook.com/viren.inaniyan/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/viren-inaniyan-959897187/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            <a href="https://api.whatsapp.com/send?phone=917568457402" target="_blank"><i class="fa fa-phone-square" aria-hidden="true"></i></a>
            <a href="mailto:viren@ecell.in" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a></div></div></div></div></div>



{% endblock %}
